extends layout

block head
  script(src='/js/craud.audience.js')
  script(src='/js/craud.common.js')

block content
  h1= title
  p Welcome to #{title}
    video(id="local-video",autoplay,muted)
    video(id="remote-video",autoplay,muted)
