extends layout

block head
  script(src='/js/craud.common.js')
  script(src='/js/craud.maker.js')

block content
  h1 CraudMaker: broadcaster console
  botton(id="connect") Connect
  div(id="status") Listeners:
  video(id="local-video",autoplay,muted)
