extends layout2

block head
  script(src='/js/office.js')

block location
  a(class='navbar-brand') Creativa 77 - Wormhole Ansible

block content
  div(class='row')
    div(class='col-md-10') Takes 10
    div(class='col-md-2',ng-controller="WebcamControl")
      p {{ status }}
