extends layout2

block head
  script(src='/js/office.js')

block location
  a(class='navbar-brand') Creativa 77 - Wormhole Ansible

block content
  div(class='row')
    div(class='col-md-12') This takes 12
