body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

video {
  width: 100%;
}

#local-video {
  position: absolute;
  bottom: 20px;
  width: 10%;
}
