doctype html
html(ng-app='app')
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport',content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css')
    script(src='/js/vendor/ga.js')
    script(src='//code.jquery.com/jquery-1.10.1.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js')
    script(src='/js/vendor/angular-sanitize.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/vendor/adapter.js')
    script(src='/js/vendor/moment.min.js')
    block head
    script(src='/js/common.js')
  body
    div(class='immedia',ng-controller='WebcamControl')
      div(class='header')
        block notification-area
        block chat-participants
      div(class='chat-log')
        block chat-log
      div(class='chat-input')
        block chat-input
