extends layout

block head

block location
  a(class='navbar-brand') - Creativa 77

block content
  img(src='/img/snooze.png',id='snooze',style='display:none')
  video(autoplay,style='display:none',width='640',height='480')
  div(class='row',ng-controller='WebcamControl')
    div(class='col-md-9')
      table(class='table table-condensed table-bordered')
        tr
          td(ng-repeat='participant in participants()')
            img(ng-src='{{ participant.image }}')
      table(class='table table-condensed table-bordered table-striped')
        tr
          th(width='100px') When
          th(width='70px') Who
          th Message
        tr(ng-repeat='message in messages')
          td {{ when(message.timestamp) }}
          td
            img(ng-src='{{ message.image }}')
          td
            div(ng-bind-html='setHtmlToTrusted(message.text)')
    div(class='col-md-3')
      div Status: {{ status }}
      div(ng-show='isError')
        form(ng-submit='connect()')
          label(for='room-password') Room password:
          input(class='form-control',id='room-password',type='password',ng-model='roomPassword')
          button(class='btn btn-default') Connect
      canvas(id='self',width='70',height='50')
      canvas(id='copy',width='70',height='50')
      button(class='btn btn-warning',ng-click='snoozeVideo()') Snooze
      form(ng-submit='sendMessage()')
        textarea(class='form-control',ng-model='inputText',ng-keyup='keyup($event)')
        button(class='btn btn-success') Send
      div(class='btn-group')
        button(data-toggle="dropdown" class='btn btn-primary dropdown-toggle') Alert settings
          span(class='caret')
        ul(class='dropdown-menu')
          li
            a(href='#',ng-click='setAlertMode("silent")') Silent mode
          li
            a(href='#',ng-click='setAlertMode("quiet")') Quiet mode
          li
            a(href='#',ng-click='setAlertMode("funny")') Funny mode